# Upgrade pip first
pip>=25.2

# Core app
streamlit==1.31.0

# Pretty logging
rich==14.1.0

# PDF parsing
pypdf==3.9.0
pdfminer.six==20221105

# PPTX parsing
python-pptx==1.0.2
Pillow==11.0.0
lxml==5.2.2

# Gemini SDK + env loader
google-generativeai==0.3.1
python-dotenv==1.0.0
